/* Header Styles */
.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
}

/* Profile Photo Styles */
img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #fff; /* Optional white border around the photo */
}

/* Contact Information Styles */
.contact-info {
  color: #fff;
  text-align: right;
}

.contact-info h1 {
  margin: 0;
  font-size: 28px;
}

.contact-info p {
  margin: 5px 0;
  margin-left: 80px;
  font-size: 16px;
  text-align: justify;
  opacity: 0.7;
}

.contact-info ul {
  list-style: none;
  padding: 0;
}

.contact-info li {
  margin: 5px 0;
}

.contact-info a {
  color: #fff;
  text-decoration: none;
  opacity: 0.8;
  transition: opacity 0.3s;
}

.contact-info a:hover {
  opacity: 1;
}

body {
  background-color: #111; /* Dark background color */
  color: #fff; /* Text color */
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Add these styles for each section */
section {
  padding: 40px;
  background-color: #1c1c1c; /* Slightly lighter background color */
}

/* Navigation Index Styles */
.portfolio-nav {
  text-align: center;
  margin: 20px 0;
}

.portfolio-nav ul {
  list-style: none;
  padding: 0;
}

.portfolio-nav li {
  display: inline-block;
  margin: 0 15px;
}

.portfolio-nav a {
  text-decoration: none;
  color: #3D85C6;
  font-weight: bold;
  opacity: 0.7;
  transition: opacity 0.3s;
}

.portfolio-nav a:hover {
  opacity: 1;
}

/* Timeline Styles */
.timeline-container {
  position: relative;
}

.timeline-item {
  position: relative;
  padding-left: 40px;
  margin-bottom: 40px;
}

.timeline-content {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  position: relative;
}

.timeline-content h3 {
  margin: 0;
  font-size: 18px;
}

.timeline-content p {
  margin: 5px 0;
  opacity: 0.8;
  font-size: 14px;
}

.timeline-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 10px;
  width: 20px;
  height: 20px;
  background-color: #333;
  border-radius: 50%;
  border: 2px solid #fff;
}

.timeline-item:last-child::before {
  content: none;
}

/* Even and Odd Timeline Items */
.timeline-item:nth-child(even) .timeline-content {
  margin-left: auto;
}

.timeline-item:nth-child(even)::before {
  left: auto;
  right: 0;
}

/* Experiences Styles */
.experience-container {
  display: grid;
  gap: 40px;
}

.experience-item {
  background-color: #194D70;
  padding: 20px;
  border-radius: 5px;
}

.experience-item h3 {
  margin: 0;
  font-size: 18px;
}

.experience-item p {
  margin: 5px 0;
  opacity: 0.8;
  font-size: 14px;
}

.experience-item ul {
  list-style: disc;
  margin: 10px 0 0 20px;
  padding: 0;
}

.experience-item li {
  margin: 5px 0;
}

/* Alternate Background Colors for Even and Odd Items */
.experience-item:nth-child(even) {
  background-color: #444;
}

/* CTA Styles */
.cta-container {
  background-color: #444;
  color: #fff;
  text-align: center;
  padding: 30px;
  border-radius: 5px;
}

.cta-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #073763;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.cta-button:hover {
  background-color: #e65a00;
}


/* Blog Posts Gallery Styles */
.blog-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.blog-post {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
}

.blog-post a {
  color: #333;
  text-decoration: none;
  transition: color 0.3s;
}

.blog-post a:hover {
  color: #ff6600;
}

.blog-post h3 {
  margin: 10px 0;
  font-size: 18px;
}

.blog-post p {
  margin: 5px 0;
  font-size: 14px;
  opacity: 0.8;
}

/* Footer Styles */
footer {
  background-color: #333;
  color: #fff;
  padding: 40px 0;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

/* Update the color for LinkedIn link */
.contact a[href^="https://www.linkedin.com/in/diegolesmes-lnkdn/"] {
  color: #3D85C6; /* Use the same color as the GitHub link */
}

.contact, .social {
  flex: 1;
}

.footer-content h3 {
  margin: 0 0 10px;
}

.social a {
  display: block;
  margin-bottom: 5px;
  text-decoration: none;
  color: #fff;
  opacity: 0.8;
}

.social a:hover {
  opacity: 1;
}

.copyright {
  text-align: center;
  margin-top: 20px;
  opacity: 0.6;
}
